a {
  color: green;
}

body {
  background-image: linear-gradient( #f4eeff, #dcd6f7, #a6b1e1, #424874);
}

h1 {
  color: #769fcd;
}

h3 {
  color: black;
}

hr {
  border-style: dotted none none;
  width: 10%;
  border-width: 20px;
  border-color: grey;
}

img {
  height: 300px;
}

.div1 {
  padding: 100px;
}

.div2 {
  padding: 100px;
}

.div3 {
  padding: 100px;
}

.div4 {
  padding: 100px;
}

.h1:hover {
  color: red;
}

.h3:hover {
  color: red;
}

.firsttable {
  padding: 100px;
}
